main {
    background-image: url("fotos/fundo.jpg");
    background-size: cover;
    width: 940px;
	margin: 0 auto;
    border: 2px solid #87458f;
    border-radius: 8px;
    padding: 12px;
    position: relative;
}

.texto{
    color: #000000;
    margin: 39px 50px;
    border: 2px solid #2b2b2b;
    border-radius: 8px;
    padding: 12px;
    position: relative;
    height: -20px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
    text-align: center;
    background-image: url("./fotos/bg.jpg");
    padding: 40px 13px;
    width: 940px;
    margin: 0 auto;
    border: 1px solid #2b2b2b;
    border-radius: 8px;
    position: relative;
}